{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>App: {{item.name }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
          <p><img src='{{item.image_url}}'></p>
          <p class="menu-price">{{item.price}}</p>

		</div>
	</div>
{% endblock %}